.lobby {
    margin: 10px;
    border: 1px solid #aaa;
    border-radius: 20px;
}.lobby h5 {
    margin: 20px;
    font-weight: 100;
    font-size: 1.2em;
}.lobby > p {
    font-size: 0.95em;
    color: #666;
    margin-left: 25px;
}
.lobby.subscribed:hover {
    cursor: pointer;
}
.rightbar {
    position: absolute;
    width: 185px;
    background-color: white;
    overflow: auto;
    top: 130px;
    bottom: 15px;
    right: 15px;
}

.user {
    padding: 5px;
}

.lobbyName {
    padding: 15px;
}

.chatMessage {
    position: absolute;
    background-color: white;
    height: 85px;
    bottom: 15px;
    right: 215px;
    left: 15px;
}

textarea.chatMsg {
    height: 100%;
    width: 100%;
}

.messages {
    position: absolute;
    background-color: white;
    top: 130px;
    left: 15px;
    right: 215px;
    bottom: 115px;
    overflow: auto;
}
.message {
    white-space: pre;
}