.lobby {
    margin: 10px;
    border: 1px solid #aaa;
    border-radius: 20px;
}

.lobby .mainname {
    margin: 20px;
    font-weight: 100;
    font-size: 1.2em;
}

.topic {
    color: #666;
}

.lobby > .topic {
    font-size: 0.95em;
    margin-left: 25px;
    margin-bottom: 5px;
}

.lefttitle {
    margin-top: 15px;
    margin-bottom: 0;
    font-weight: 100;
    font-size: 1.2em;
}

.leftname {
    margin-top: 5px;
    margin-bottom: 5px;
    padding:5px;
    font-weight: 100;
    font-size: 1em;
}

.leftlobby > .topic {
    font-size: 0.75em;
    margin-left: 15px;
    margin-bottom: 5px;
}

.subscribed {
    cursor: pointer;
}

.leftlobby {
    border: 1px solid #aaa;
    border-radius: 10px;
    margin-top: 5px;
    background-color: white;
}

.leftlobby.selected-lobby {
    color: white;
    background-color: #3ba4d7;
}

.rightbar {
    position: absolute;
    width: 185px;
    background-color: white;
    overflow: auto;
    top: 130px;
    bottom: 15px;
    right: 15px;
}

.user {
    padding: 5px;
}

.lobbyName {
    padding: 15px;
}

.lobbies {
    position: absolute;
    width: 185px;
    left:15px ;
    bottom: 15px;
    top: 130px;
    overflow:auto;
}

.messages {
    position: absolute;
    background-color: white;
    top: 130px;
    left: 215px;
    right: 215px;
    bottom: 115px;
    overflow: auto;
}
.messagetext {
    white-space: pre;
    margin-right: 5px;
}

.message > * {
    margin-left: 5px;
}

.username {
    color: darkgreen;
    font-weight: bolder;
}

.chatMessage {
    position: absolute;
    background-color: white;
    height: 85px;
    bottom: 15px;
    right: 215px;
    left: 215px;
}

textarea.chatMsg {
    height: 100%;
    width: 100%;
}