@use '../abstracts/colors' as *;

.media-item {
  display: flex;
  margin-top: 0.5rem;
  padding: 1rem;
  border: 1px solid transparentize($dark-color, 0.9);
  border-radius: 4px;
  &__details {
    flex-basis: 40%;
    display: flex;
    align-items: start;
    gap: 0.5rem;
    & img {
      width: 6rem;
      object-fit: contain;
    }
  }
  &__desc {
    flex-basis: 60%;
  }
}
