.file-view {
  width: 90%;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-top: 2em;
  padding: 1em;
  animation: fadein 0.5s;
}
.file-view > p {
  margin: 0.5em;
  font-size: 1.1em;
}
.file-view > span {
  margin: 0 1em;
  font-size: 0.9em;
}
.file-view > .progressbar {
  width: 70%;
  margin-bottom: 5px;
}
.file-view button {
  float: right;
  margin-left: 15px;
}
.file-view select {
  float: right;
  margin-left: 15px;
}
.file-view label {
  float: right;
  margin-left: 15px;
}
span > i {
  margin-right: 5px;
}

.filestat {
  min-width: 7em;
  display: inline-block;
}

.searchbar {
  margin: 5px;
  width: 40%;
  box-shadow: 0 0 3px #aaa;
}
.file-node-panel {
  position: relative;
  bottom: 200px;
  margin-left: 200px;
  animation: fadein 0.5s;
}

table.myfiles td {
  word-wrap: break-word;
}
table.myfiles th:nth-child(1) {
  width: 2%;
}
table.myfiles th:nth-child(2) {
  width: 50%;
}
table.myfiles td:nth-child(2) {
  text-align: start;
}