/* subject */
table.boards th:nth-child(1) {
  width: 50%;
  text-align: start;
}
/* subject */
table.boards td:nth-child(1) {
  text-align: start;
  /* Truncate text with '...' */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

table.boards tr:hover {
  background-color: #eef3f6;
  cursor: pointer;
}

table.boards tr.hidden {
  display: none;
}

#toggleunsub {
  position: relative;
  background: gray;
}

#options {
  width: 100px;
  text-align: center;
  font-size: medium;
  margin-left: 20px;
  height: 40px;
}

#composepopup {
  height: 80%;
  width: 70%;
}

#mtags {
  width: 160px;
  text-align: center;
  font-size: medium;
  margin-left: 10px;
  height: 40px;
}
