@use '../abstracts/colors' as *;

.channel {
  display: flex;
  margin-top: 0.5rem;
  padding: 1rem;
  border: 1px solid transparentize($dark-color, 0.9);
  border-radius: 4px;
  &-heading {
    display: flex;
    justify-content: space-between;
  }
  &__details {
    flex-basis: 40%;
    display: flex;
    gap: 0.5rem;
    & img {
      object-fit: contain;
    }
  }
  &__desc {
    flex-basis: 60%;
  }
}

.posts {
  height: 100%;
  margin-top: 1rem;
  flex-direction: column;
  overflow: scroll;
  &__heading {
    display: flex;
    justify-content: space-between;
  }
  &-container {
    height: 100%;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 2rem;
    border: 1px solid transparentize($dark-color, 0.9);
    border-radius: 4px;
    overflow: scroll;
    &-card {
      min-height: 240px;
      flex-direction: column;
      border: 1px solid transparentize($dark-color, 0.5);
      border-radius: 4px;
      cursor: pointer;
      text-align: center;
      & img {
        flex-basis: 90%;
        object-fit: cover;
      }
      & p {
        padding: 0 0.125rem;
        flex-basis: 10%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}

.file-section {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.comments-section {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  &__menu {
    display: flex;
    gap: 1rem;
    &-id {
      display: flex;
      gap: 0.25rem;
      align-items: center;
    }
  }
}

#toggleunsub {
  position: relative;
  background: gray;
}

/* subject */
table.channels {
  & th:nth-child(1) {
    width: 50%;
    text-align: start;
  }
  /* subject */
  & td:nth-child(1) {
    text-align: start;
    /* Truncate text with '...' */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  & tr:hover {
    background-color: #eef3f6;
    cursor: pointer;
  }
  & tr.hidden {
    display: none;
  }
}

/* subject */
table {
  padding: 0.5rem;
  &.comments {
    border: 1px solid #eee;
    & th {
      height: 40px;
      &:nth-child(1) {
        width: 2%;
      }
      &:nth-child(2) {
        width: 40%;
      }
    }
    & td {
      word-wrap: break-word;
      &:nth-child(2) {
        text-align: start;
      }
    }
  }
  &.files {
    & th:first-child {
      text-align: start;
      width: 60%;
    }
    & tr td:first-child {
      text-align: start;
    }
    & td {
      word-wrap: break-word;
    }
  }
}
/* #options{
  width: 100px;
  text-align: center;
  font-size: medium;
  margin-left: 20px;
  height: 40px;
} */
#mtags {
  width: 160px;
  text-align: center;
  font-size: medium;
  margin-left: 10px;
  height: 40px;
}
