@use '../abstracts/colors' as *;

.file-view {
  width: 100%;
  padding: 1rem;
  margin-top: 1.5rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  animation: fadein 0.5s;
  &__heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    &-chunk {
      display: flex;
      gap: 1rem;
    }
  }
  &__body {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    &-details {
      display: flex;
      align-items: center;
      &-stat {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        & span > i {
          margin-right: 0.5rem;
        }
      }
      &-action {
        display: flex;
        height: 100%;
        gap: 1rem;
        & button,
        & button.red {
          padding: 0.25rem 0.75rem;
        }
      }
    }
  }
}

table.myfiles td {
  word-wrap: break-word;
}
table.myfiles th:nth-child(1) {
  width: 2%;
}
table.myfiles th:nth-child(2) {
  width: 50%;
}
table.myfiles td:nth-child(2) {
  text-align: start;
}
table.friendsfiles td {
  word-wrap: break-word;
}
table.friendsfiles th:nth-child(1) {
  width: 2%;
}
table.friendsfiles th:nth-child(2) {
  width: 50%;
}
table.friendsfiles th:nth-child(4) {
  width: 40%;
}
table.friendsfiles td:nth-child(2) {
  text-align: start;
}

// File Search
.file-search-container {
  margin-top: 1rem;
  padding: 8px;
  display: flex;
  gap: 8px;
  border: 1px solid transparentize($dark-color, 0.8);
  border-radius: 6px;
  height: 100%;
  overflow: auto;

  &__keywords {
    flex-basis: 15%;
    border-right: 1px solid transparentize($dark-color, 0.9);

    & .keywords-container {
      display: flex;
      flex-direction: column;

      & a {
        font-size: 1.2rem;
        text-decoration: none;
        color: $dark-color;

        &.selected {
          color: $primary-color;
        }
      }
    }
  }

  &__results {
    flex-basis: 85%;
    height: 100%;
    overflow: auto;

    & .results-container {
      & .results-header {
        & tr {
          display: flex;
          & th {
            font-size: 1.25rem;
            font-weight: bold;

            &:nth-child(1) {
              flex-basis: 40%;
              text-align: left;
            }
            &:nth-child(2) {
              flex-basis: 10%;
            }
            &:nth-child(3) {
              flex-basis: 40%;
              text-align: left;
            }
            &:nth-child(4) {
              flex-basis: 10%;
              text-align: right;
            }
          }
        }
      }
      & .results {
        height: 100%;
        overflow: auto;
        & tr {
          display: flex;
          & .results {
            &__hash,
            &__name {
              text-align: left;
              flex-basis: 40%;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;

              span {
                margin-left: 8px;
              }
            }
            &__size {
              flex-basis: 10%;
            }
            &__download {
              flex-basis: 10%;
              display: flex;
              justify-content: end;
              align-items: center;
            }
          }
        }
      }
    }
  }
}

.search-form {
  display: flex;
  width: 40%;
  input {
    width: 100%;
  }
  button {
    margin-left: 0.5rem;
  }
}
