@use '../abstracts/colors' as *;

.file-view {
  width: 90%;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-top: 2em;
  padding: 1em;
  animation: fadein 0.5s;
}
.file-view > p {
  margin: 0.5em;
  font-size: 1.1em;
}
.file-view > span {
  margin: 0 1em;
  font-size: 0.9em;
}
.file-view > .progressbar {
  width: 70%;
  margin-bottom: 5px;
}
.file-view button {
  float: right;
  margin-left: 15px;
}
.file-view select {
  float: right;
  margin-left: 15px;
}
.file-view label {
  float: right;
  margin-left: 15px;
}
span > i {
  margin-right: 5px;
}

.filestat {
  min-width: 7em;
  display: inline-block;
}

.searchbar {
  margin: 5px;
  width: 40%;
  box-shadow: 0 0 3px #aaa;
}
.file-node-panel {
  position: relative;
  bottom: 200px;
  margin-left: 200px;
  animation: fadein 0.5s;
}

table.myfiles td {
  word-wrap: break-word;
}
table.myfiles th:nth-child(1) {
  width: 2%;
}
table.myfiles th:nth-child(2) {
  width: 50%;
}
table.myfiles td:nth-child(2) {
  text-align: start;
}
table.friendsfiles td {
  word-wrap: break-word;
}
table.friendsfiles th:nth-child(1) {
  width: 2%;
}
table.friendsfiles th:nth-child(2) {
  width: 50%;
}
table.friendsfiles th:nth-child(4) {
  width: 40%;
}
table.friendsfiles td:nth-child(2) {
  text-align: start;
}

// File Search
.file-search-container {
  margin-top: 1rem;
  padding: 8px;
  display: flex;
  gap: 8px;
  border: 1px solid transparentize($dark-color, 0.8);
  border-radius: 6px;

  h4 {
    font-size: 1.25rem;
  }

  &__keywords {
    flex-basis: 15%;
    border-right: 1px solid transparentize($dark-color, 0.9);

    & .keywords-container {
      display: flex;
      flex-direction: column;

      & a {
        font-size: 1.2rem;
        text-decoration: none;
        color: $dark-color;

        &.selected {
          color: $primary-color;
        }
      }
    }
  }

  &__results {
    flex-basis: 85%;

    & .results-container {
      & .results-header {
        & tr {
          display: flex;
          & th {
            font-size: 1.25rem;
            font-weight: bold;

            &:nth-child(1) {
              flex-basis: 40%;
              text-align: left;
            }
            &:nth-child(2) {
              flex-basis: 10%;
            }
            &:nth-child(3) {
              flex-basis: 40%;
              text-align: left;
            }
            &:nth-child(4) {
              flex-basis: 10%;
              text-align: right;
            }
          }
        }
      }
      & .results {
        & tr {
          display: flex;
          & .results {
            &__hash,
            &__name {
              text-align: left;
              flex-basis: 40%;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;

              span {
                margin-left: 8px;
              }
            }
            &__size {
              flex-basis: 10%;
            }
            &__download {
              flex-basis: 10%;
              display: flex;
              justify-content: end;
              align-items: center;
            }
          }
        }
      }
      & button {
        font-size: 1rem;
      }
    }
  }
}
