.forums-node-panel {
  position: relative;
  bottom: 200px;
  margin-left: 200px;
  animation: fadein 0.5s;
}

/* subject */
table.forums th:nth-child(1) {
  width: 50%;
  text-align: start;
}
/* subject */
table.forums td:nth-child(1) {
  text-align: start;
  /* Truncate text with '...' */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

table.forums tr:hover {
  background-color: #eef3f6;
  cursor: pointer;
}

table.forums tr.hidden {
  display: none;
}

#searchforum {
  position: relative;
  margin-left: 250px;
  /* top: 50px; */
}

#forumdetails {
  position: relative;
  padding: 10px;
}
.p {
  margin: 0;
}
#toggleunsub {
  position: relative;
  background: gray;
}

table.threads tr:hover {
  background-color: #eef3f6;
  cursor: pointer;
}
table.threads td {
  word-wrap: break-word;
}
table.threadreply th:nth-child(2) {
  width: 50%;
}
table.threadreply th:nth-child(1) {
  width: 2%;
}
table.threadreply td:nth-child(2) {
  width: 50%;
  text-align: start;
}
table.threadreply td {
  word-wrap: break-word;
}
table.threadreply tr:hover {
  background-color: #eef3f6;
  cursor: pointer;
}
#idtags{
  width: 160px;
  text-align: center;
  font-size: medium;
  margin-left: 10px;
  height: 40px;
}