@use '../abstracts/colors' as *;

.homepage {
  margin: 2rem auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    & img {
      width: 90px;
    }
    .retroshareText {
      display: flex;
      flex-direction: column;
      align-items: center;

      & .retrotext {
        font-size: 36px;
        line-height: 1.125;
        font-weight: 500;

        & > span {
          color: $primary-retro-color;
        }
      }
      & > b {
        font-size: 14px;
        line-height: 1;
      }
    }
  }

  .certificate {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    &__heading {
      text-align: center;
      & > h1 {
        margin-bottom: 1rem;
      }
    }
    &__content {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding: 2rem;
      text-align: center;
      border: 1.5px solid transparentize($primary-retro-color, 0.8);
      border-radius: 6px;
      box-shadow: 0px 0px 8px 2px transparentize($dark-color, 0.95);

      .rsId > p {
        margin-bottom: 0.5rem;
        color: $primary-retro-color;
      }

      .retroshareID {
        padding: 0.5rem;
        display: flex;
        justify-self: start;
        align-items: center;
        font-size: 1.2rem;
        border-radius: 4px;
        background: transparentize($dark-color, 0.95);
        & .textArea {
          padding: 0;
          font-size: 1rem;
          font-family: monospace;
          box-sizing: none;
          background: transparent;
          font-size: 1.1rem;
          border-radius: 5px;
          border: none;
          resize: none;
        }
        & i {
          color: $primary-retro-color;
        }
        & > i {
          margin: 0 0.5rem;
          cursor: pointer;
        }
      }

      .webhelp {
        &-container {
          display: grid;
          place-items: center;
        }
        background: whitesmoke;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        border-radius: 5px;
        border: 1px solid transparentize($dark-color, 0.5);
        padding: 0.5rem;
        width: fit-content;
        cursor: pointer;
        &:hover {
          background: $light-color;
          border: 1px solid $dark-color;
        }
        & > i {
          font-size: 1.2rem;
          color: green;
        }
      }
      .add-friend > h6,
      .webhelp-container > h6 {
        font-weight: normal;
        margin-bottom: 0.5rem;
      }
    }
  }
}
