/* star */
table.mails th:nth-child(1) {
  width: 5%;
  color: #fcba03;
}
/* attachments */
table.mails th:nth-child(2) {
  width: 5%;
  color: grey;
}
/* subject */
table.mails th:nth-child(3) {
  width: 50%;
  text-align: start;
}
/* From */
table.mails th:nth-child(4) {
  width: 20%;
  text-align: start;
}
/* date */
table.mails th:nth-child(5) {
  width: 20%;
  text-align: start;
}

/* subject */
table.mails td:nth-child(3) {
  text-align: start;
  /* Truncate text with '...' */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* From */
table.mails td:nth-child(4) {
  text-align: start;
}
/* date */
table.mails td:nth-child(5) {
  text-align: start;
}

table.mails tr:hover {
  background-color: #eef3f6;
  cursor: pointer;
}
table.mails tr.unread {
  color: black;
  background-color: #eef3f6;
}
/* hide checkbox */
input.star-check {
  display: none;
}
/* use label with 'for' to manipulate checkbox */
input.star-check + label.star-check {
  color: grey;
}
input.star-check:checked + label.star-check {
  color: #fcba03;
}

/* mail_util.js styles */
.button-container {
  display: flex;
}
.truncate {
  display: flex;
  width: 65vw;
  height: 22px;
  flex-wrap: wrap;
  gap: 4px;
  overflow: hidden;
}
#show-more,
#show-less {
  font-size: 0.8em;
  width: 100px;
  height: max-content;
}

iframe.msg {
  border: 0;
  width: 100%;
  height: 450px;
}
#composebtn {
  text-align: center;
  width: 200px;
  height: 50px;
  /* float: left; */
}
#searchmail {
  float: right;
  position: relative;
  margin-right: 20px;
}
#tags {
  width: 200px;
  text-align: center;
  font-size: medium;
  margin-left: 20px;
  height: 40px;
}
#composepopup {
  height: 80%;
  width: 70%;
  bottom: 50%;
  right: 58%;
}
.mail-node-panel {
  position: relative;
  bottom: 755px;
  margin-left: 200px;
  animation: fadein 0.5s;
}

.msgHeader {
  display: flex;
}

.msgHeaderDetails {
  display: flex;
  flex-direction: column;
}

// Download Files
.attachment-container {
  max-height: 20vh;
  height: auto;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 2px;

  & .attachment {
    display: flex;
    width: 100%;
    justify-content: space-between;

    & .detail span {
      margin-left: 4px;
    }
  }
}
