.identity {
  color: #444;
  font-size: 1.1em;
  margin: 20px;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 20px;
}
.identity > h4 {
  margin: 5px;
  font-size: 1.3em;
}
.identity p {
  margin: 0;
}
.identity button {
  font-size: 0.9em;
}

.defaultAvatar {
  width: 50px;
  height: 50px;
  aspect-ratio: 1;
  background: lightsteelblue;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.defaultAvatar p {
  font-weight: 900;
  color: #666F7F;
  transform: translateY(1px);
}
img.avatar {
  display: block;
  width: 50px;
  aspect-ratio: 1;
  margin-right: 0.3em;
  border-radius: 50%;
}

.identity .details {
  display: grid;
  grid-template-columns: 140px auto;
  grid-row-gap: 5px;
  justify-content: left;
}

.counter {
  margin-left: 0.5em;
}
.counter:before {
  content: '(';
}
.counter:after {
  content: ')';
}

.chatInit {
  margin-left: 0.5em;
  color: green;
  cursor: pointer;
}
