.identity {
  color: #444;
  font-size: 1.1em;
  margin: 20px;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 20px;
  & > h4 {
    margin: 5px;
    font-size: 1.3em;
  }
  & button {
    font-size: 0.9em;
  }
  & .details {
    display: grid;
    grid-template-columns: 140px auto;
    grid-row-gap: 5px;
    justify-content: left;
  }
}

.defaultAvatar {
  width: 3rem;
  height: 3rem;
  aspect-ratio: 1;
  background: lightsteelblue;
  border-radius: 50%;
  display: grid;
  place-items: center;
  & p {
    font-weight: 900;
    color: #666f7f;
    transform: translateY(1px);
  }
}
img.avatar {
  display: block;
  width: 3rem;
  height: max-content;
  aspect-ratio: 1;
  margin-right: 0.3em;
  border-radius: 50%;
}

.counter {
  margin-left: 0.5em;
  &:before {
    content: '(';
  }
  &:after {
    content: ')';
  }
}

.chatInit {
  margin-left: 0.5em;
  color: green;
  cursor: pointer;
}
