.friend {
    color: #444;
    font-size: 1.2em;
    margin: 1em;
    padding: 20px;
    border-bottom: 1px solid #aaa;
    border-radius: 20px;
}.friend i {
    float: left;
    padding: 0 10px;
    cursor: pointer;
}.friend h4 {
    margin-bottom: 5px;
}

