/******************************
General site-wide rules
******************************/

/* Main base div for tabs used by m.route */
.content {
    height: 100%;
    overflow: hidden;
}

/* Main tab content */
#tab-content {
    height: 100%;
    /* Margin on top to avoid getting covered by navbar */
    margin-top: 3em;
    background-color: #eef3f6;
    overflow: auto;
}
/* Individual tab pages */
.tab-page {
}

input, textarea {
    box-sizing: border-box;
    background: white;
    font-size: 1.2em;
    font-weight: 400;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.5em;
} input:focus {
    border: 1px solid #3ba4d7;
    box-shadow: inset 0 0 5px #ccc;
}

button {
    color: white;
    background: #2699ed;
    font-size: 1.2em;
    padding: 5px 10px;
    border: 0;
    border-radius: 5px;
    box-shadow: inset -3px -3px 0 #0d69ac;
    cursor: pointer;
} button:active {
    outline: none;
    box-shadow: inset 3px 3px 0 #0d69ac;
}

table {
    padding: 20px;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
} table th {
    background-color: #3ba4d7;
    height: 1em;
}

.widget {
    margin: 1em;
    padding: 1em;
    border-radius: 10px;
    background-color: white;
}.widget > h3 {
    font-size: 2em;
    font-weight: 100;
    color: #444;
    padding: 0;
    margin: 0;
}.widget > p {
    margin: 0;
    font-size: 0.9em;
    color: #666;
}.widget > hr {
    margin-left: 0;
    color: #aaa;
}
.widget-half {
    max-width: 50%;
}

.error {
    color: red;
}

.progressbar {
    width: 100%;
    background-color: grey;
    position: relative;
    text-align: left;
}.progressbar:before {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
}.progress-status {
    display: inline-block;
    height: 100%;
    background-color: #3ba4d7;
    text-align: center;
}

/******************************
Animations
******************************/

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.fadein {
    animation: fadein 0.5s;
}

@keyframes expand-left-border {
    from { border-left: 0; }
    to   { border-left: 5px solid #3ba4d7; }
}

/******************************
Target specific sections
******************************/

/* Login */
.login-page {
    background-image: linear-gradient(-45deg, #0e76a7, #7bccff);
    height: 100%;
    animation: fadein 0.5s;
}
.login-container {
    background-color: white;
    box-shadow: 3px 3px 5px #444;
    margin: auto;
    position: relative;
    top: 100px;
    max-width: 30%;
    height: 50%;
    border-radius: 5px;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    align-items: center;
}
.login-container * {
    margin-top: 10px;
}

/* Navbar */
nav.tab-menu {
    padding: 1em 1em;
    background-color: #333;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 5px solid #3ba4d7; 
    box-shadow: 0 5px 5px #aaa;
}
.tab-menu-item {
    text-align: center;
    padding: 1em 1em;
    text-decoration: none;
    color: white;
    transition: all 0.5s;
} .tab-menu-item:hover {
    background-color: #999;
} .tab-menu-item#selected-tab-item {
    background-color: #3ba4d7;
}

/* Sidebar from config panel */
.sidebar {
    overflow: hidden;
    position: fixed;
    height: 100%;
    width: 200px;
    background-color: white;
} .sidebar-link {
    text-decoration: none;
    padding: 1em;
    cursor: pointer;
    display: block;
    font-size: 0.95em;
    color: #999;
}.sidebar-link:hover{
    color: #222;
}.sidebar-link#selected-sidebar-link {
    font-weight: bold;
    color: #222;
    border-left: 5px solid #3ba4d7;
    animation: expand-left-border 0.1s;
}
/* Content adjacent to sidebar */
.node-panel {
    margin-left: 200px;
}
