/******************************
Context-independent styles
******************************/
@keyframes fadein {
    from {opacity: 0;}
    to   {opacity: 1;}
}
.frame-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tab {
    animation: fadein 0.5s;
}

.field {
    background: white;
    text-align: center;
    font-size: 1.2em;
    font-weight: 500;
    border-radius: 5px;
    padding: 0.5em;
    border: 2px solid #3ba4d7;
    margin-bottom: 1em;
}

button {
    background: rgb(59, 164, 215);
    background: white;
    color: #3ba4d7;
    border: 1px solid #3ba4d7;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    transition: all 0.5s;
} button:hover {
    background: #3ba4d7;
    color: white;
}

.error {
    color: red;
}

.progressbar {
    width: 100%;
    background-color: grey;
    position: relative;
    text-align: left;
}.progressbar:before{
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
}.progress-status {
    display: inline-block;
    height: 100%;
    background-color: #3ba4d7;
    text-align: center;
}

table {
    padding: 20px;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
} table th {
    background-color: #3ba4d7;
    height: 1em;
}

/******************************
Target specific elements
******************************/

/* Navbar */
.tab-container {
    padding: 1em 1em;
    background-color: #333;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}
.tab-header {
    text-align: center;
    padding: 1em 1em;
    text-decoration: none;
    color: white;
    transition: all 0.5s;
} .tab-header:hover {
    background-color: #999;
} .tab-header:focus {
    background-color: #3ba4d7;
}
.tab-section {
    text-align: center;
}

.sidebar {
    height: 100%;
    width: 200px;
    border-right: 1px solid lightgrey;
    position: fixed;
    top: 3em;
    left: 0;
    overflow-x: hidden;
} .sidebar-link {
    text-decoration: none;
    padding: 1em;
    display: block;
    cursor: pointer;
    border-bottom: 1px solid lightgrey;
}.sidebar-link:hover {
    background-color: lightgrey;
}
/* Content adjacent to sidebar */
.node-panel {
    margin-left: 200px;
}
