/******************************
General site-wide rules
******************************/

/* Main base div for tabs used by m.route */
.content {
    height: 100%;
    overflow: hidden;
}

/* Main tab content */
#tab-content {
    height: 100%;
    /* Margin on top to avoid getting covered by navbar */
    margin-top: 4em;
    background-color: #eef3f6;
    overflow: auto;
}
/* Individual tab pages */
.tab-page {
    /* This is required since main content's overflow is hidden
       and bottom elements will not be entirely visible. */
    margin-bottom: 200px;
    animation: fadein 0.5s;
}

input, textarea {
    box-sizing: border-box;
    background: white;
    font-size: 1.2em;
    font-weight: 400;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.5em;
} input:focus {
    border: 1px solid #3ba4d7;
    box-shadow: inset 0 0 5px #ccc;
}

button {
    color: white;
    background: #2699ed;
    font-size: 1.2em;
    padding: 5px 10px;
    border: 0;
    border-radius: 5px;
    box-shadow: inset -3px -3px 0 #0d69ac;
    cursor: pointer;
} button:active {
    outline: none;
    box-shadow: inset 3px 3px 0 #0d69ac;
}
button.red {
    background: #bd0909;
    box-shadow: inset -3px -3px 0 #830000;
}

table {
    padding: 20px;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
} table th {
    background-color: #3ba4d7;
    height: 1em;
}

.widget {
    margin: 1em;
    padding: 1em;
    border-radius: 10px;
    background-color: white;
}.widget > h3 {
    font-size: 2em;
    font-weight: 100;
    color: #444;
    padding: 0;
    margin: 0;
}.widget > p {
    margin: 0;
    font-size: 0.9em;
    color: #666;
}.widget > hr {
    margin-left: 0;
    color: #aaa;
}.widget .tooltip {
    float: right;
}
.widget-half {
    max-width: 50%;
}

.grid-2col {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row-gap: 16px;
    justify-content: start;
}

.error {
    color: red;
}

.progressbar {
    width: 100%;
    border-radius: 500px;
    background-color: #eef3f6;
    position: relative;
    text-align: left;
}.progressbar:before {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
}.progress-status {
    display: inline-block;
    height: 100%;
    padding: 5px;
    border-radius: 500px;
    color: #555;
    background-color: #3ba4d7;
    text-align: center;
}

.tooltip {
    color: #333;
    /*display: inline-block;*/
    position: relative;
}
.tooltiptext {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 50%;
    width: 240px;
    margin-left: -120px;
    z-index: 1;
    color: #ccc;
    background-color: #333;
    font-size: 0.9em;
    text-align: center;
    padding: 5px 0;
    border-radius: 5px;
}.tooltip:hover .tooltiptext {
    visibility: visible;
    animation: fadein 0.5s;
}

#modal-container {
    display: none;
    position: fixed;
    z-index: 1;
    height: 100%;
}
#modal-container {
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}
#modal-content {
    position: absolute;
    color: #555;
    width: 40%;
    height: 40%;
    transform: translate(60%, 50%);
    background-color: white;
    padding: 1em;
    border-radius: 20px;
    animation: fadein 0.3s;
}#modal-content p {
    font-size: 1.5em;
}#modal-content button {
    float: right;
}

#notification-container {
    position: absolute;
    bottom: 0;
    right: 0;
}#notification-container .notification {
}

/******************************
Animations
******************************/

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.fadein {
    animation: fadein 0.5s;
}

@keyframes swipe-from-left {
    from { margin-left: 100%; }
    to { margin-left: 0; }
}

@keyframes expand-left-border {
    from { border-left: 0; }
    to   { border-left: 5px solid #3ba4d7; }
}

/******************************
Target specific sections
******************************/

/* Login */
.login-page {
    background-image: linear-gradient(-45deg, #0e76a7, #7bccff);
    height: 100%;
    animation: fadein 0.5s;
}
.login-container {
    background-color: white;
    box-shadow: 3px 3px 5px #444;
    margin: auto;
    position: relative;
    top: 100px;
    max-width: 30%;
    height: 50%;
    border-radius: 5px;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    align-items: center;
}
.login-container * {
    margin-top: 10px;
}

/* Navbar */
nav.tab-menu {
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 5px solid #3ba4d7; 
    box-shadow: 0 5px 5px #aaa;
}
a.tab-menu-item {
    padding: 1em;
    text-align: center;
    text-decoration: none;
    color: #ccc;
    font-size: 0.9em;
    /* CSS capitalization is magical! */
    text-transform: capitalize;
    transition: all 0.5s;
    /* To vertically stack child nodes */
    display: inline-flex;
    flex-direction: column;
} .tab-menu-item:hover {
    background-color: #999;
} .selected-tab-item {
    background-color: #3ba4d7;
    color: white;
}

/* View for upload/download file information */
.file-view {
    width: 90%;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-top: 2em;
    padding: 1em;
    animation: fadein 0.5s;
}.file-view > p {
    margin: 0.5em;
    font-size: 1.1em;
}.file-view > span {
    margin: 0 1em;
    font-size: 0.9em;
}.file-view > .progressbar {
    width: 70%;
}.file-view button {
    float: right;
}

/* Sidebar from config panel */
.sidebar {
    position: fixed;
    height: 100%;
    width: 200px;
    background-color: white;
} .sidebar a {
    text-decoration: none;
    padding: 1em;
    cursor: pointer;
    display: block;
    font-size: 0.95em;
    color: #999;
}.sidebar a:hover {
    color: #222;
}.selected-sidebar-link {
    font-weight: bold;
    color: #222;
    border-left: 5px solid #3ba4d7;
    animation: expand-left-border 0.1s;
}
/* Content adjacent to sidebar */
.node-panel {
    margin-left: 200px;
    animation: fadein 0.5s;
}
