/******************************
General site-wide rules
******************************/
@use '../abstracts/colors' as *;

#main {
  height: 100vh;
}

/* Main base div for tabs used by m.route */
.content {
  height: 100%;
  display: flex;
  overflow: hidden;
}

/* Main tab content */
.tab-content {
  height: 100%;
  width: 100%;
  display: flex;
  background-color: $light-color;
  animation: fadein 0.3s;
  overflow: auto;
}

input[type='text'],
input[type='password'],
input[type='number'],
textarea {
  box-sizing: border-box;
  background: white;
  max-width: 100%;
  font-size: 1rem;
  font-weight: 400;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.4rem 0.8rem;
  /* Disable chromium's focused element hinting*/
  outline: transparent;
}
input {
  &:focus {
    border: 1px solid #3ba4d7;
    box-shadow: inset 0 0 5px #ccc;
  }
  &.stretched {
    width: 90%;
  }
  &.small {
    max-width: 70%;
    padding: 0.1rem;
  }
  &.searchbar {
    width: 40%;
  }
}

a {
  cursor: pointer;
  &[title='Back'] {
    width: max-content;
    height: max-content;
    padding: 0.475rem 0.75rem;
    border-radius: 50%;
    transition: 100ms;
    &:hover {
      background: $light-color;
    }
  }
}

table {
  padding: 20px;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  color: #333;
  font-size: 1.125rem;
  & th {
    font-size: 1.125rem;
    color: black;
    border-bottom: 2px solid #eee;
  }
  & tr {
    border-bottom: 1px solid #eee;
  }
}

h3 {
  color: #444;
}
hr {
  margin-left: 0;
  color: #aaa;
}

.grid-2col {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
  justify-content: start;
  & input[type='checkbox'] {
    margin-top: 20px;
  }
}

.error {
  color: red;
}

.tooltip {
  color: #333;
  /*display: inline-block;*/
  position: relative;
}
.tooltiptext {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 50%;
  min-width: 250px;
  margin-left: -120px;
  z-index: 1;
  color: #ccc;
  background-color: #333;
  font-size: 0.9em;
  text-align: center;
  padding: 5px 0;
  border-radius: 5px;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  animation: fadein 0.5s;
}

/******************************
Animations
******************************/

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadein {
  animation: fadein 0.5s;
}

@keyframes swipe-from-left {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0;
  }
}
