#modal-container {
  display: none;
  position: fixed;
  z-index: 1;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal-content {
  position: absolute;
  color: #555;
  width: 40%;
  padding: 1.5rem;
  inset: 0;
  margin: auto;
  min-height: 250px;
  background-color: white;
  border-radius: 1rem;
  animation: fadein 0.5s;
  & .close-btn {
    position: absolute;
    right: 1.5rem;
  }
}
