.widget {
  height: 100%;
  padding: 1em;
  border-radius: 8px;
  background-color: white;
  overflow: scroll;
  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  & > p {
    font-size: 0.9em;
    color: #666;
  }
  & .tooltip {
    float: right;
  }
  &-half {
    max-width: 50%;
  }
}
