.widget {
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: white;
  border-radius: 0.5rem;
  overflow: auto;
  & .top-heading {
    display: flex;
    justify-content: space-between;
  }
  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #999;
  }
  &__body {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    &-heading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      & .action {
        display: flex;
        gap: 0.5rem;
      }
    }
    &-content {
      height: 100%;
      overflow: auto;
    }
    &-box {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }
  &-half {
    max-width: 50%;
  }
}
