.channel-node-panel {
    position: relative;
    bottom: 200px;
    margin-left: 200px;
    animation: fadein 0.5s;
  }

/* subject */
table.channels th:nth-child(1) {
  width: 50%;
  text-align: start;
}
/* subject */
table.channels td:nth-child(1) {
  text-align: start;
  /* Truncate text with '...' */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

table.channels tr:hover {
  background-color: #eef3f6;
  cursor: pointer;
}

table.channels tr.hidden{
  display: none;
}

#searchchannel{
  position:relative;
  margin-left: 250px;
  /* top: px; */
}

img.channelpic {
  float: left;
  height: 150px;
  width:150px;
  padding: 25px;
}
#channeldetails{
  position: relative;
  margin-left: 150px;
  padding: 10px;
}
.p{
  margin:0;
}
#toggleunsub{
  position: relative;
  background: gray;
}


.card {
  width: 350px;
}

.card-info {
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 2.5rem;
      grid-template-rows: 1fr 2.5rem;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
}

.card-title {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.card-author {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  -webkit-align-self: bottom;
      -ms-flex-item-align: bottom;
              -ms-grid-row-align: bottom;
          align-self: bottom;
}