/* star */
table.mails th:nth-child(1) {
  width: 5%;
  color: #fcba03;
}
/* attachments */
table.mails th:nth-child(2) {
  width: 5%;
  color: grey;
}
/* subject */
table.mails th:nth-child(3) {
  width: 50%;
  text-align: start;
}
/* date */
table.mails th:nth-child(4) {
  width: 40%;
  text-align: start;
}

/* subject */
table.mails td:nth-child(3) {
  text-align: start;
  /* Truncate text with '...' */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* date */
table.mails td:nth-child(4) {
  text-align: start;
}

table.mails tr:hover {
  background-color: #eef3f6;
  cursor: pointer;
}
table.mails tr.unread {
  color: black;
  background-color: #eef3f6;
}
/* hide checkbox */
input.star-check {
  display: none;
}
/* use label with 'for' to manipulate checkbox */
input.star-check + label.star-check {
  color: grey;
}
input.star-check:checked + label.star-check {
  color: #fcba03;
}

iframe.msg {
  border: 0;
  width: 100%;
  height: 450px;
}
