html, body, #main {
    margin: 0;
    height: 100%;
    font-family: Helvetica, Arial, sans-serif;
}
#main {
}
.lobby {
  margin: 10px;
  border: 1px solid #aaa;
  border-radius: 20px;
}

.lobby .mainname {
  margin: 20px;
  font-weight: 100;
  font-size: 1.2em;
}

.topic {
  color: #666;
}

.lobby > .topic {
  font-size: 0.95em;
  margin-left: 25px;
  margin-bottom: 5px;
}

.lefttitle {
  margin-top: 15px;
  margin-bottom: 0;
  font-weight: 100;
  font-size: 1.2em;
}

.leftname {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  font-weight: 100;
  font-size: 1em;
}

.leftlobby > .topic {
  font-size: 0.75em;
  margin-left: 15px;
  margin-bottom: 5px;
}

.subscribed,
.public {
  cursor: pointer;
}

.leftlobby {
  border: 1px solid #aaa;
  border-radius: 10px;
  margin-top: 5px;
  background-color: white;
}

.leftlobby.selected-lobby,
.selectedidentity {
  color: white;
  background-color: #3ba4d7;
}

.rightbar {
  position: absolute;
  width: 185px;
  background-color: white;
  overflow: auto;
  top: 130px;
  bottom: 15px;
  right: 15px;
}

.user {
  padding: 5px;
}

.lobbyName {
  padding: 15px;
  margin-top: 2rem;
}

.lobbies {
  position: absolute;
  width: 185px;
  left: 138px;
  bottom: 15px;
  top: 130px;
  overflow: auto;
}

i.fas{
  padding-right: 1rem;
}

.messages,
.setup {
  position: absolute;
  background-color: white;
  top: 130px;
  left: 328px;
  right: 215px;
  overflow: auto;
}

.messages {
  bottom: 115px;
}

.messagetext {
  white-space: break-spaces;
  margin-right: 5px;
}

.message > * {
  margin-left: 5px;
}

.username {
  color: darkgreen;
  font-weight: bolder;
}

.chatMessage {
  position: absolute;
  background-color: white;
  height: 85px;
  bottom: 15px;
  right: 215px;
  left: 323px;
}

textarea.chatMsg {
  height: 100%;
  width: 100%;
}

.chatatchar {
  margin-left: 0.2em;
  margin-right: 0.2em;
  color: silver;
}

.setupicon {
  margin-left: 1em;
  cursor: pointer;
}

.leaveicon {
  margin-left: 1em;
  cursor: pointer;
  color: #d40000;
}

.selectidentity {
  margin: 15px;
  font-size: 1.2em;
}

.setup > .identity {
  cursor: pointer;
}

.setup {
  bottom: 15px;
}

.createDistantChat {
  margin-top: 1em;
}
.file-view {
  width: 90%;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-top: 2em;
  padding: 1em;
  animation: fadein 0.5s;
}
.file-view > p {
  margin: 0.5em;
  font-size: 1.1em;
}
.file-view > span {
  margin: 0 1em;
  font-size: 0.9em;
}
.file-view > .progressbar {
  width: 70%;
  margin-bottom: 5px;
}
.file-view button {
  float: right;
  margin-left: 15px;
}
span > i {
  margin-right: 5px;
}

.filestat {
  min-width: 7em;
  display: inline-block;
}

.searchbar {
  margin: 5px;
  width: 40%;
  box-shadow: 0 0 3px #aaa;
}
/* star */
table.mails th:nth-child(1) {
  width: 5%;
  color: #fcba03;
}
/* attachments */
table.mails th:nth-child(2) {
  width: 5%;
  color: grey;
}
/* subject */
table.mails th:nth-child(3) {
  width: 50%;
  text-align: start;
}
/* date */
table.mails th:nth-child(4) {
  width: 40%;
  text-align: start;
}

/* subject */
table.mails td:nth-child(3) {
  text-align: start;
  /* Truncate text with '...' */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* date */
table.mails td:nth-child(4) {
  text-align: start;
}

table.mails tr:hover {
  background-color: #eef3f6;
  cursor: pointer;
}
table.mails tr.unread {
  color: black;
  background-color: #eef3f6;
}
/* hide checkbox */
input.star-check {
  display: none;
}
/* use label with 'for' to manipulate checkbox */
input.star-check + label.star-check {
  color: grey;
}
input.star-check:checked + label.star-check {
  color: #fcba03;
}

iframe.msg {
  border: 0;
  width: 100%;
  height: 450px;
}
.friend {
  color: #444;
  font-size: 1.2em;
  margin: 1em;
  padding: 20px;
  border: 1px solid #aaa;
  border-radius: 20px;
}
.friend i {
  float: left;
  padding: 0 10px;
  cursor: pointer;
}
.friend h4 {
  margin-bottom: 5px;
}
.friend p {
  margin: 0;
}
.friend button {
  font-size: 0.9em;
}
.friend.hidden {
  display: none;
}
.friend .brief-info.online {
  color: green;
}

.friend .location {
  margin: 5px;
  border-top: 1px solid #bbb;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
}
.friend .brief-info {
  display: flex;
  align-items: center;
  justify-self: start;
}

.friend .fa-times-circle {
  color: #555;
}
.friend .fa-check-circle {
  color: green;
}
.identity {
  color: #444;
  font-size: 1.1em;
  margin: 20px;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 20px;
}
.identity > h4 {
  margin: 5px;
  font-size: 1.3em;
}
.identity p {
  margin: 0;
}
.identity button {
  font-size: 0.9em;
}

img.avatar {
  float: left;
  height: 100px;
  margin-right: 0.3em;
}

.identity .details {
  display: grid;
  grid-template-columns: 140px auto;
  grid-row-gap: 5px;
  justify-content: left;
}

.counter {
  margin-left: 0.5em;
}
.counter:before {
  content: '(';
}
.counter:after {
  content: ')';
}

.chatInit {
  margin-left: 0.5em;
  color: green;
  cursor: pointer;
}
/******************************
General site-wide rules
******************************/

/* Main base div for tabs used by m.route */
.content {
  height: 100%;
  overflow: hidden;
}

/* Main tab content */
#tab-content {
  height: 100%;
  background-color: #eef3f6;
  overflow: auto;
}
/* Individual tab pages */
.tab-page {
  /* This is required since main content's overflow is hidden
       and bottom elements will not be entirely visible. */
  margin-bottom: 200px;
  animation: fadein 0.5s;
}

input[type='text'],
input[type='password'],
input[type='number'],
textarea {
  box-sizing: border-box;
  background: white;
  max-width: 100%;
  font-size: 1.2em;
  font-weight: 400;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5em;
  /* Disable chromium's focused element hinting*/
  outline: none;
}
input:focus {
  border: 1px solid #3ba4d7;
  box-shadow: inset 0 0 5px #ccc;
}
input.stretched {
  width: 90%;
}
input.small {
  max-width: 70%;
  font-size: 1em;
  padding: 0.1em;
}
input.searchbar {
  display: block;
  margin: 2.9em 0 0 0.9em;
}

button {
  color: white;
  background: #2699ed;
  font-size: 1.2em;
  padding: 5px 10px;
  border: 0;
  border-radius: 5px;
  box-shadow: inset -3px -3px 0 #0d69ac;
  cursor: pointer;
}
button:active {
  outline: none;
  box-shadow: inset 3px 3px 0 #0d69ac;
}
button.red {
  background: #bd0909;
  box-shadow: inset -3px -3px 0 #830000;
}

table {
  padding: 20px;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  color: #333;
  font-size: 1.2em;
}
table th {
  font-weight: 100;
  font-size: 1.3em;
  color: black;
  border-bottom: 2px solid #eee;
}
table tr {
  border-bottom: 1px solid #eee;
}

h3 {
  font-size: 2em;
  font-weight: 100;
  color: #444;
  padding: 0;
  margin: 0;
}
hr {
  margin-left: 0;
  color: #aaa;
}

.widget {
  margin: 1em;
  padding: 1em;
  border-radius: 10px;
  background-color: white;
  margin-top: 3rem;
}
.widget > p {
  margin: 0;
  font-size: 0.9em;
  color: #666;
}
.widget .tooltip {
  float: right;
}
.widget-half {
  max-width: 50%;
}
.widget-2{
  margin-top: -12rem;
}
.grid-2col {
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 16px;
  justify-content: start;
}
.grid-2col input[type='checkbox'] {
  margin-top: 20px;
}

.error {
  color: red;
}

.progressbar {
  width: 100%;
  border-radius: 500px;
  background-color: #eef3f6;
  position: relative;
  text-align: left;
}
.progressbar:before {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
}
.progress-status {
  display: inline-block;
  height: 100%;
  padding: 5px;
  border-radius: 500px;
  color: #000;
  background-color: #3ba4d7;
  text-align: center;
}

.tooltip {
  color: #333;
  /*display: inline-block;*/
  position: relative;
}
.tooltiptext {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 50%;
  min-width: 250px;
  margin-left: -120px;
  z-index: 1;
  color: #ccc;
  background-color: #333;
  font-size: 0.9em;
  text-align: center;
  padding: 5px 0;
  border-radius: 5px;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  animation: fadein 0.5s;
}

#modal-container {
  display: none;
  position: fixed;
  z-index: 1;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal-content {
  position: absolute;
  color: #555;
  width: 40%;
  /*height: 40%;*/
  min-height: 250px;
  transform: translate(60%, 50%);
  background-color: white;
  padding: 2em;
  border-radius: 20px;
  animation: fadein 0.5s;
}
.modal-content > button {
  float: right;
}

#notification-container {
  position: absolute;
  bottom: 0;
  right: 0;
}
#notification-container .notification {
}

/******************************
Animations
******************************/

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadein {
  animation: fadein 0.5s;
}

@keyframes swipe-from-left {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0;
  }
}

@keyframes expand-left-border {
  from {
    border-left: 0;
  }
  to {
    border-left: 5px solid #3ba4d7;
  }
}

/******************************
Target specific sections
******************************/

/* Login */
.login-page {
  background-image: linear-gradient(-45deg, #0e76a7, #7bccff);
  height: 100%;
  animation: fadein 0.5s;
}
.login-container {
  background-color: white;
  box-shadow: 3px 3px 5px #444;
  margin: auto;
  position: relative;
  top: 100px;
  max-width: 400px;
  max-height: 500px;
  border-radius: 5px;

  display: flex;
  align-items: flex-start;
  flex-direction: column;
  align-items: center;
}

.extra > label,
.extra > br,
.extra > input {
  margin-bottom: 0;
}

.login-container * {
  margin-bottom: 15px;
}
.login-container > img {
  margin-top: 15px;
  margin-bottom: 30px;
}

.login-container extra {
  margin: 0;
}
.login-container > a {
  text-decoration: underline;
  cursor: pointer;
}

/* Navbar */
nav.tab-menu {
  border-right: 5px solid #3ba4d7;
  background-color: #333;
  box-shadow: 0 5px 5px #aaa;
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-right: 0rem;
}
.tab-menu-item{
  width: 6rem;
}
a.tab-menu-item {
  padding: 1em;
  text-align: center;
  text-decoration: none;
  color: #ccc;
  font-size: 1em;
  /* CSS capitalization is magical! */
  text-transform: capitalize;
  transition: all 0.5s;
  /* To vertically stack child nodes */
  display: inline-flex;
  flex-direction: row;
}
.tab-menu-item:hover {
  background-color: #999;
 
}

.tab-menu-item.selected-tab-item {
  background-color: #3ba4d7;
  color: white;

}

.sidebar{
  display: inline-block;
  margin-top: 3rem;
}

.sidebar a {
  text-decoration: none;
  text-transform: capitalize;
  padding: 1em;
  cursor: pointer;
  display: block;
  font-size: 0.95em;
  color: #999;
}
.sidebar a:hover {
  color: #222;
}
.sidebar .selected-sidebar-link {
  font-weight: bold;
  color: #222;
  border-left: 5px solid #3ba4d7;
  animation: expand-left-border 0.1s;
}
/* Content adjacent to sidebar */
.node-panel {
  margin-left: 200px;
  animation: fadein 0.5s;
}

