.friend {
    color: #444;
    font-size: 1.2em;
    margin: 1em;
    padding: 20px;
    border: 1px solid #aaa;
    border-radius: 20px;
}
.friend i {
    float: left;
    padding: 0 10px;
    cursor: pointer;
}
.friend h4 {
    margin-bottom: 5px;
}
.friend p {
    margin: 0;
}
.friend button {
    font-size: 0.9em;
}
.friend.hidden {
    display: none;
}
.friend .brief-info.online {
    color: green;
}

.friend .location {
    margin: 5px;
    border-top: 1px solid #bbb;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
}

.friend .fa-times-circle {
    color: #555;
}.friend .fa-check-circle {
    color: green;
}
