// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

/// Button Mixin
@mixin button($bg-color) {
  width: max-content;
  height: max-content;
  color: white;
  background: $bg-color;
  font-size: 1rem;
  padding: 0.4rem 1rem;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: inset -3px -3px 0 darken($color: $bg-color, $amount: 20);

  &:active {
    outline: none;
    box-shadow: inset 3px 3px 0 darken($color: $bg-color, $amount: 20);
  }
}
