//-------------------------------- Typography --------------------------------//
h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.875rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1.125rem;
}

p {
  font-size: 1rem;
}

.small {
  font-size: 0.875rem;
}

.bold {
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: normal;
}
