//-------------------------------- Typography --------------------------------//
h1 {
  font-size: var(--t-title);
}

h2 {
  font-size: var(--t-title);
}

h3 {
  font-size: var(--t-title);
}

h4 {
  font-size: var(--t-h2);
}

h5 {
  font-size: var(--t-h2);
}

h6 {
  font-size: var(--t-h3);
}

p {
  font-size: var(--t-h3);
}

.small {
  font-size: var(--t-label);
}

.bold {
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: var(--w-body);
}
