// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


//---------------------------------- Colors ----------------------------------//
/// Primary color
$primary-color: #019DFF !default;

/// Primary light color
$primary-light-color: #9BDAFF !default;

/// Light red
$red-color: #FF3A4A !default;

/// Dark
$dark-color: #14141B !default;

/// Light
$light-color: #EEF3F6 !default;


