// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

//---------------------------------- Colors ----------------------------------//
/// Primary color
$primary-color: #019dff !default;

/// Primary light color
$primary-light-color: #9bdaff !default;

/// Light red
$red-color: #ff3a4a !default;

/// Dark
$dark-color: #14141b !default;

/// Light
$light-color: #eef3f6 !default;

/// Message Starred Color
$golden-yellow-color: #fcba03;
